body {
    background-color: gray;
}

.tablestyle {
    font-size: 1.2em;
    background-color: lightblue ;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.tablestyle table {border-spacing: 5px;}

.tablestyle tr {background-color: lightgreen;}

.tablestyle td {
    border: 3px solid grey;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
}

.tablestyle .title td {
    color: green;
    padding: 10px;
}